<% configurable_attributes = object[:configurable_attributes] || [] %>
<% if configurable_attributes.any? %>
<h2>Configuration Summary</h2>
<h3>Configurable attributes</h3>
Configurable attributes for an object in general <code>object</code> can be configured either by using something like
<pre class="code">
  object.configure <%= hl :do %> |c|
    c.some_configurable_attribute = <%= hl 'some value' %>
    c.some_other_configurable_attribute = <%= hl 42 %>
    ...
  <%= hl :end %>
</pre>
or
<pre class="code">
  object.some_configurable_attribute = <%= hl 'some value' %>
</pre>
<h4>Configurable attributes for instances of <%= object %></h4>
<ul>
  <% configurable_attributes.each do |attribute| %>
  <li>
    <code><%= attribute[:attribute] %></code>
    <% if attribute[:lazy_default_value] %>
     - default <code><%= hl attribute[:lazy_default_value] %></code> (evaluated lazily) 
    <% else %>
     - default <code><%= hl attribute[:default_value] %></code>
    <% end %>
    <%= '- ' + attribute[:comments] if attribute[:comments] %>
  </li>
  <% end %>
</ul>
<% end %>
