<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <%= erb(:headers) %>
  </head>
  <body>

    <!-- GOOGLE ANALYTICS -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-16382932-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    <!-- *************** -->

    <script type="text/javascript" charset="utf-8">
      if (window.top.frames.main) document.body.className = 'frames';
    </script>

    <div id="header" class="clearfix">
      <%#= erb(:breadcrumb) %>
      <div id="logo">DRAGONFLY (v <%= DRAGONFLY_VERSION %>)</div>
      <%= erb(:search) %>
    </div>

    <div>
      <iframe id="search_frame"></iframe>
    </div>

    <div id="content" class="clearfix">
      <div class="col1">
        <%= yieldall %>
      </div>
      <div class="col2">
        <ul class="main_files clearfix">
          <%= [
            ['Index', 'Home'],
            ['README', 'Quick start for Rails (README)'],
            ['GeneralUsage', 'General usage'],
            ['Rails2', 'Rails 2.3'],
            ['Rails3', 'Rails 3'],
            ['Models', 'Models (ActiveRecord, ActiveModel, etc.)'],
            ['Rack', 'Rack'],
            ['Sinatra', 'Sinatra'],
            ['Heroku', 'Heroku'],
            ['Mongo', 'Mongo'],
            ['DataStorage', 'Data Storage'],
            ['Analysers', 'Analysers'],
            ['Processing', 'Processing'],
            ['Encoding', 'Encoding'],
            ['Generators', 'Generators'],
            ['Configuration', 'Configuration'],
            ['URLs', 'URLs / Endpoints'],
            ['MimeTypes', 'Mime Types'],
            ['Caching', 'Caching'],
            ['History', 'History'],
          ].map{|(file, text)|
            "<li>#{link_file(file, text)}</li>"
          }.join
          %>
        </ul>
      </div>
    </div>

    <%= erb(:footer) %>
  </body>
</html>